* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border: 1px dashed black;
}

body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 16px;
}

header {
    background-color: rgb(176, 216, 230);
}

header .container.flex {
    padding: 1rem 1rem;
}

.flex {
    display: flex;
}

.header-box {
    min-width: 200px;
    padding: 10px 5px;
}

.header-box.flex {
    flex-grow: 1;
    justify-content: center;
}

.link-box {
    padding: 0 10px;
}

.container {
    width: 100%;
    max-width: 960px;
    min-width: 300px;
    margin: 0 auto;
    padding: 2em 1em;
}

.header-box {
    background-color: rgb(218, 166, 35);
    border: var(--border);
    min-height: 10px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1.5rem 0;
}
p {
    margin-bottom: 1rem;
}