* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border: 2px dashed black;
    --withe-border: 2px dashed white;
}

body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1.5rem 0;
}
p {
    margin-bottom: 1rem;
}

header {
    background-color: rgb(176, 216, 230);
}

/*Universal Classes*/

.flex {
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 960px;
    min-width: 300px;
    margin: 0 auto;
    padding: 2em 1em;
}

/* Header classes*/

.header-box {
    min-width: 200px;
    padding: 10px 5px;
}

.header-box.flex {
    flex-grow: 1;
    justify-content: center;
}

.link-box {
    padding: 0 10px;
}

header .container.flex {
    padding: 1rem 1rem;
}

.header-box {
    background-color: rgb(218, 166, 35);
    border: var(--border);
    min-height: 10px;
}

/*Main Classes*/

.bg-container {
    width: 100%;
    padding: 2rem 1rem;
}

.bg-container.section-1 {
    background-color: rgb(0, 0, 139);
}

.section1-content {
    background-color: rgb(238, 130, 238);
    min-height: 250px;
    max-width: 700px;
    flex-grow: 1;
    border: var(--border);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.large-box {
    width: calc(100% / 5 * 3);
    background-color: rgb(30, 144, 255);
    border: var(--border);
}

.small-box {
    width: calc(100% / 5 * 2);
    background-color: rgb(255, 192, 203);
    border: var(--border);
}

.section-content {
    min-height: 400px;
}

.gray-bg {
    background-color: rgb(211, 211, 211);
}

.green-bg {
    width: 100%;
    min-height: 500px;
    background-color: rgb(34, 139, 34);
    border: var(--border);
}

/* Footer Classes */

.dark-bg {
    background-color: rgb(35, 39, 42);
}

.footer-box {
    min-height: 450px;
}

.footer-small-box {
    width: calc(100% / 6);
    border: var(--withe-border);
    background-color: rgb(32, 178, 170);
}

.footer-large-box {
    width: calc(100% / 6 * 2);
    background-color: rgb(240, 128, 128);
    border: var(--border);
}

.footer-nav {
    background-color: rgb(127, 255, 212);
    min-height: 35px;
    padding: 1rem 0;
    justify-content: space-between;
}

.foot-item {
    border: var(--border);
    padding: .25rem;
    background-color: rgb(229, 212, 214);
    font-size: 12px;
}



