* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border: 2px dashed black;
}

body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1.5rem 0;
}
p {
    margin-bottom: 1rem;
}

header {
    background-color: rgb(176, 216, 230);
}

/*Universal Classes*/

.flex {
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 960px;
    min-width: 300px;
    margin: 0 auto;
    padding: 2em 1em;
}

/* Header classes*/

.header-box {
    min-width: 200px;
    padding: 10px 5px;
}

.header-box.flex {
    flex-grow: 1;
    justify-content: center;
}

.link-box {
    padding: 0 10px;
}

header .container.flex {
    padding: 1rem 1rem;
}

.header-box {
    background-color: rgb(218, 166, 35);
    border: var(--border);
    min-height: 10px;
}

/*Main Classes*/

.bg-container {
    width: 100%;
    padding: 2rem 1rem;
}

.bg-container.section-1 {
    background-color: rgb(0, 0, 139);
}

.section1-content {
    background-color: rgb(238, 130, 238);
    min-height: 250px;
    max-width: 700px;
    flex-grow: 1;
    border: var(--border);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

